<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>worker1</name>
  <description>Ubuntu_server</description>
  <remoteFS>/var/lib/jenkins</remoteFS>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@2.948.vb_8050d697fec">
    <host>13.52.74.135</host>
    <port>22</port>
    <credentialsId>1ba1b51f-f9cb-48ad-a273-c3dc87747fa5</credentialsId>
    <launchTimeoutSeconds>60</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.KnownHostsFileKeyVerificationStrategy"/>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label>linux_deb</label>
  <nodeProperties/>
</slave>